.javascript .hidden {
    display: none;
}

fieldset {
    border: none;
}



:root {
    --bgcolor: rgb(19, 19, 19);
    --navcolor: rgb(45, 45, 45);
    --fontcolor: rgb(51, 255, 51);
    --fontfam: "Space Mono", monospace;
    --nvda-pitch: normal;
}

/* Apply pitch styles */


nav {
    background-color: var(--navcolor);
}

body {
    background-color: var(--bgcolor);
    margin: 1em;
}

label,
legend {
    color: var(--fontcolor);
    font-family: "Space Mono", monospace;
    font-family: var(--fontfam);
}

h1,
h2 {
    color: var(--fontcolor);
    font-family: var(--fontfam);
}

button {
    height: 3em;
    width: 3em;
    background-color: var(--fontcolor);
}

:focus-visible {
    outline: solid rgb(255, 176, 0) .3em;
}